/* @font-facd */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
